{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Goodstart Driving School</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Goodstart Driving School</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Price & Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Getting your license</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in"></div><br>
          <div class="intro-heading text-uppercase"></div>
          <p><br>
        </div>
      </div>
      <img class="align-center" src="{% static 'img/logo.png' %}" alt="logo" align="center">

    </header>


    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">

            <p>
            <p>
            <h2 class="section-heading text-uppercase">Our Services</h2>
            <h3 class="section-subheading text-muted">For the best Driving School in Perth Goodstart Driving school has you covered.</h3>

          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">South Perth Driving Lesson</h4>
            <p class="text-muted"> Goodstart Driving School will help students understand the importance of staying alert and how to respond to hazardous situations that can occur.
              We know how exciting it is for learners to start taking their driving courses, and want them to be fully aware of how serious driving really is. </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Advanced car teaching procedures</h4>
            <p class="text-muted">In this modern era of advanced car technology and improved business and teaching procedures,
              The driving instructor is progressively trained and audited to the standards approved by the Western Australian Dept.
              of Transport and accredited under the federal government Keys2Drive program.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Automatic Driving Lessons</h4>
            <p class="text-muted">With automatic driving lessons, the learner will learn much more than the mechanics of operating a vehicle.
              The driver will learn to have the good attitude before even getting behind the wheel.
              Precise driving starts with a relaxed and confident frame of mind.
              Hence, The instructor will work with the student to boost that their morale and confidence level.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Price & Package</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="{% static 'img/portfolio/59.jpg' %}" alt="">

          </div>


          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="{% static 'img/portfolio/290.jpg' %}" alt="">

          </div>



          <div class="col-md-4 col-sm-6 portfolio-item">

              <img class="img-fluid" src="{% static 'img/portfolio/550.jpg' %}" alt="">

          </div>


          <div class="col-md-4 col-sm-6 portfolio-item">

              <img class="img-fluid" src="{% static 'img/portfolio/79.jpg' %}" alt="">

              <div class="portfolio-caption">
                <h4>Free 1 Hour Lesson</h4><br>
                <p class="text-muted">Register now at keys2drive.com.au and drive with free</p>
              </div>
          </div>


          <div class="col-md-4 col-sm-6 portfolio-item">

              <img class="img-fluid" src="{% static 'img/portfolio/380.jpg' %}" alt="">
              <div class="portfolio-caption">
                <h4>$150 : Your Test Day</h4><br>
                <p class="text-muted">Price includes a 90min driving lesson followed by your test</p>
              </div>
          </div>


          <div class="col-md-4 col-sm-6 portfolio-item">

              <img class="img-fluid" src="{% static 'img/portfolio/699.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>$1250 : Fully Logbook service</h4><br>
              <p class="text-muted">Save $250 / 60 min x 25 lessons with night/country/wet/freeway/highway driving</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Getting your license</h2>
            <h3 class="section-subheading text-muted">The GDT&L system will make you better prepared for the road ahead.</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 1. Learner Permit</h4>
                    <h6 class="subheading">(Minimum Age 16)</h6>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">A theory test / Eyesight Test <br>
                      If you pass you will be permitted to drive a car under supervision<br>
                      with lerner's permit and learner guide and log book</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 2. Hazard Perception Test</h4>
                    <h6 class="subheading">(16 years and 6 months)</h6>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Begin to record your minumum 50 hours of superised driving(include 5 hours of night time driving)
                      with your instructor until a mandatory 6 month period has lapsed since the issue date of your learner's permit. and you can undertake Hazard Perception Test.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 3. practical driving Assessment</h4>
                    <h6 class="subheading">(17 years old)</h6>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">If you completed a minumum of 50 hours of supervised driving experience and passed a HPT, You can have Practical Driving Assessment.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Step 4. Provisional License</h4>
                    <h6 class="subheading">Congratulations, you now have your 'P' plate</h6>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Red P plate for 6 months and swap to the green P for the remaining time on your provisional license.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4><Br>Finish
                    </h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Good start Driving school</h3>
            <img class="img-fluid" src="{% static 'img/portfolio/contact.png' %}" alt="">

          </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Goodstart Driing School 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %} "></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>

  </body>

</html>
